package net.rushashki.social.shashki64.client.websocket;

/**
 * Created with IntelliJ IDEA.
 * User: alekspo
 * Date: 18.01.15
 * Time: 23:39
 */
public class Configuration {
  public static final String PLAYER_WEBSOCKET_URL = "ws://localhost:8080/ws/game";
}
