<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>RUCheckers</display-name>
  <servlet>
    <servlet-name>net.rushashki.shashki64.Shashki64 Shashki64Service</servlet-name>
    <servlet-class>net.rushashki.shashki64.server.Shashki64ServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>net.rushashki.shashki64.Shashki64 ChatService</servlet-name>
    <servlet-class>net.rushashki.shashki64.server.ChatServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>net.rushashki.shashki64.Shashki64 Shashki64Service</servlet-name>
    <url-pattern>/net.rushashki.shashki64.Shashki64/Shashki64Service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>net.rushashki.shashki64.Shashki64 ChatService</servlet-name>
    <url-pattern>/net.rushashki.shashki64.Shashki64/ChatService</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>