<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>SocialRushashkiNet</display-name>
    <servlet>
        <servlet-name>net.rushashki.social.shashki64.Shashki64 ProfileRpcService</servlet-name>
        <servlet-class>net.rushashki.social.shashki64.server.rpc.ProfileRpcServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>net.rushashki.social.shashki64.Shashki64 GameRpcMessageService</servlet-name>
        <servlet-class>net.rushashki.social.shashki64.server.rpc.GameMessageRpcServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>net.rushashki.social.shashki64.Shashki64 GameRpcService</servlet-name>
        <servlet-class>net.rushashki.social.shashki64.server.rpc.GameRpcServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>net.rushashki.social.shashki64.Shashki64 ProfileRpcService</servlet-name>
        <url-pattern>/net.rushashki.social.shashki64.Shashki64/ProfileRpcService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>net.rushashki.social.shashki64.Shashki64 GameRpcMessageService</servlet-name>
        <url-pattern>/net.rushashki.social.shashki64.Shashki64/GameMessageRpcService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>net.rushashki.social.shashki64.Shashki64 GameRpcService</servlet-name>
        <url-pattern>/net.rushashki.social.shashki64.Shashki64/GameRpcService</url-pattern>
    </servlet-mapping>

    <!--<error-page>-->
        <!--<error-code>500</error-code>-->
        <!--<location>/500.html</location>-->
    <!--</error-page>-->

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    
    <welcome-file-list>
        <welcome-file>Shashki64.html</welcome-file>
    </welcome-file-list>
</web-app>
